@font-face{
    font-family: "WorkSans";
    src: url('Work_Sans/WorkSans-Regular.ttf'); 

}
@font-face{
    font-family: "WorkSans-Bold";
    src:  url('Work_Sans/WorkSans-Bold.ttf');
}
@font-face{
    font-family: "WorkSans-SemiBold";
    src: url('Work_Sans/WorkSans-SemiBold.ttf');
}

body{
    
    font-family: WorkSans;
    color: #333333;
    
}

.container-fluid{
    background-color: white;
   
    padding: 0;
}

.container-fluid > div{
    max-width: 1150px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 120px;
   /* padding-top: 100px; */

}

.container-fluid > div + .noisey{
    padding-top:80px;
}
.container-fluid > div.noisey + .noisey{
    padding-top:40px;
}

.container-fluid > div.noisey + div{
    padding-top:125px;
}

.bold{
    font-family: WorkSans-Bold;
}
.semi-bold{
    font-family: WorkSans-SemiBold;
}

.teaser{
    max-width:700px;
    margin: 0 auto 120px auto;
    text-align: left;
    font-size: 20px;
}

.subteaser{
    font-size: 16px;
    margin-bottom: 50px;
}

.btn-myos-transparent{
    background-color:transparent ;
    border-color: #444;
    border-radius: 0;
    color: #444;
    text-transform: uppercase;
    padding:15px 30px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

/**
* ---- Main Navigation ---
*/
.main-nav{
    margin-top:100px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 120px;

    min-height:120px;
    padding-top: 60px;
    background-color: white;
    border: none;
    font-size:10px;
    font-weight:bold;
    max-width: 850px;
    z-index:100;
}


.navbar-brand {
  float: none;
  padding: 0;  
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;

}
a.brand > img{
    width: 255px;
}

.heading{
    margin-bottom: 80px;
    text-align:center;
    overflow:hidden;
}
.heading > img{
    max-width: 400px;
}

.btn-myos-center{
    text-align:center;
    margin-top:90px;
}

/**
* ---- Image Slider ---
*/
.slider-wrapper{
   
   max-height:600px;
    margin-bottom: 100px;
}
.image-slider{
    height:450px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

 .carousel-indicators{
     bottom: -40px;
     font-weight: bold;
 }
 .carousel-indicators li{
    width:auto !IMPORTANT;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    display: inline-block;
    margin-right: 25px;
    text-indent: 0;
 }
.carousel-indicators .active{
    width:auto !IMPORTANT;
    margin-right: 25px;
    text-decoration: underline;
}

 .carousel-indicators li .caption {
    height: 100%;
    width: 100%;
    font-size: 10px;
    
}

.btn-myos-black{
    background-color: #444;
    border-radius: 0;
    color: white;
    font-family: "WorkSans-SemiBold";
    text-transform: uppercase;
    padding:20px 0px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 19px;
    width:200px;
    height:60px;
}

.carousel-caption{
    top:150px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/**
    ------------------ About us ------------------
*/
.container-fluid > .noisey{
    background-image: url('../images/noisey.png');
    background-repeat: repeat;
    overflow:hidden;
    max-width: 100%;
  
    
}


.myos-profile{
    max-width: 900px;
    margin:0 auto 50px auto;
    overflow:hidden;
    
}
/*
.myos-profile > .row{
    max-width:870px; 
}*/

.profile-picture{
    max-height: 100%;
}

.upright{
    height:490px;
}

.myos-profile > .row > div{
    padding: 0;
}

.myos-profile .profile-description{
    max-width:380px;
}


.myos-profile > .row:nth-child(odd){
    width:910px;
}

.myos-profile > .row:nth-child(even){
    width:910px;
}

.myos-profile > .row:nth-child(even) > .upright{
    margin-top:-90px;
    padding-left:70px;
}

.profile-description.right{
    padding-top: 100px!IMPORTANT;
    padding-left: 75!IMPORTANT;
    
}

.profile-description.left{
    padding-top: 150px !IMPORTANT;
    margin-left:75px;
}
.profile-description.right > h2{
    margin-bottom:20px;
}
.profile-description .instagram{
    margin-top:20px;
}

.myos-profile .profile-picture.right{
    float:right;
    margin-right: 150px;
}
.profile-picture.landscape{
    max-width:300px;
    height:auto;

}
.profile-picture.landscape + .profile-description{
    padding-top: 50px;
}
.profile-picture.right + .profile-description{
    margin-right:480px;
}

/**
-------------- image Grid ---------------------
*/

.grid{
    max-width:950px;
    margin:0 auto 50px auto;

}
.grid img{
vertical-align: top;
}

img-responsive {
  margin-bottom: 0px;
  vertical-align: top;
}
.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3 {
    padding:5px;
      }
.img-responsive{
    width:100%;
}
.first-block{
	border-bottom: 5px #000 solid;
}

/**
---------------------- WS ---------------------
*/

.offer{
    max-width:380px;
    border: 2px solid #333333;
    background-color: #FEFC55;
    text-align:center;
   
}

.offer > h3{
    
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 38px;
    font-size: 30px;
    max-width: 250px;
    margin:90px auto 0 auto;
}

.offer > .offer-description{
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
    max-width: 290px;
    margin: 0 auto 60px auto;
}

.offer > .btn{
    margin-bottom: 75px;
}

.hardfacts{
    font-size: 14px;
    max-inline-size: 80px;
    margin: 0 auto 25px auto;
}

.hardfacts .surface{
    letter-spacing: 0.1px;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: solid 3px #333333;
}

.hardfacts .time{
    letter-spacing: 0.5px;
    line-height: 38px;
    
}

.hardfacts .time .number{
    font-size: 24px;
}

.offer + .ws-description{
    padding-left:55px;
}

.ws-description > .description {
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20px;
}

.ws-description > .description > ul{
    padding-top:20px;
    padding-left: 14px;
    margin-bottom: 30px;
}
.ws-description > .subteaser{
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 26px;
    padding-top: 45px;
    margin-bottom: 30px;
}

.ws > .grid > .row:nth-child(even) .offer{
    background-color: #B6F2E3;
}

.ws > .grid > .row:nth-child(even) .ws-description{
    padding-right: 55px;
}

.ws > .grid > .row{
    margin-bottom: 55px;
}
.ws-offer-divider{
    width: 100%;
    margin-bottom: 55px;
    padding-left:405px;
}

.ws-offer-divider > img{
    width:68px;
}
